<% title "Event" %>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>
<p>
  <strong>Starts At (local):</strong>
  <%= @event.starts_at %>
</p>
<p>
  <strong>Ends At (local):</strong>
  <%= @event.ends_at %>
</p>
<p>
  <strong>Time zone:</strong>
  <%= @event.zone %>
</p>
<p>
  <strong>Starts At (zoned):</strong>
  <%= @event.starts_in_zone %>
</p>
<p>
  <strong>Ends At (zoned):</strong>
  <%= @event.ends_in_zone %>
</p>
<p>
  <strong>Homepage:</strong>
  <%= @event.homepage %>
</p>

<p>
  <%= link_to "Edit", edit_admin_event_path(@event) %> |
  <%= link_to "Destroy", admin_event_path(@event), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", admin_events_path %>
</p>
