<%
	class_state = 'upcoming';
	if event.in_progress?
		class_state = 'in-progress';
	elsif event.finished?
		class_state = 'finished';
	end

	objid = 'object objid-event-' + event.id.to_s;

    if event == @starred_event
      star_class = "added"
    elsif event == @unstarred_event
      star_class = "removed"
    else
      star_class = ""
    end
%>

<a class="box event <%= class_state %> <%= objid %> <%= star_class %>" href="<%= event.homepage.blank? ? '#' : event.homepage; %>" target="_blank">
	<div class="row">
		<p class="date">
			<%= event.starts_at.strftime('%e %B') %>
			<span class="slash">/</span>
			<%= event.ends_at.nil? ? 'n/a' : event.ends_at.strftime('%e %B') %>
		</p>
		<h3 class="title"><%= event.name %></h3>
		<p><span class="star <%= signed_in? && current_user.starred_event?(event) ? 'on' : 'off' %> <%= objid %>"><span>Star</span></span></p>
		
		<%= render_progress( event.days_passed, event.days_total ) if event.in_progress? %>
	</div>
</a>
