<!DOCTYPE html>
<html>
<head>
	<title>StarCraft II Events</title>
	<%= stylesheet_link_tag 'screen' %>
	<%= javascript_include_tag 'jquery.js' %>
	<%= javascript_include_tag 'util.js' %>
	<%= javascript_include_tag 'events.js' %>
	<%= csrf_meta_tag %>
	<script>
		var config = {
			// ToDo: Setup root URL here
			url: "http://localhost:3000"
		}
	</script>
</head>
<body>
	<div id="page">
		<div id="header">
			<a href="#" id="logo"><span>Starcraft 2 Events</span></a>
			
			<div id="timezone">
				<label>Timezone:</label>
				<div class="select">Central Europe</div>
			</div>
			
			<ul class="menu">
				<li><a href="#">Add event</a></li>
				<% if signed_in? %>
					<li class="sign-out"><span class="username"><%= current_user.name %></span><%= link_to "Sign out", logout_path %></li>
				<% else %>
					<li><%= link_to "Sign in", login_path %></li>
				<% end %>
			</ul>
		</div>
	
		<div id="main" class="with-sidebar">
			<%= yield %>
		</div>
	</div>

	
	<script>
		Events.initialize();
	</script>

</body>
</html>
