<!DOCTYPE html>
<html>
<head>
	<title>StarCraft II Events</title>
	<%= stylesheet_link_tag 'screen' %>
	<%= javascript_include_tag 'jquery.js' %>
	<%= javascript_include_tag 'jquery_auth_token.js' %>
	<%= javascript_include_tag 'util.js' %>
	<%= javascript_include_tag 'events.js' %>
	<%= csrf_meta_tag %>
    <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
	<link rel="shortcut icon" href="<%= root_url %>favicon.ico" type="image/x-icon" /> 
	<script type="text/javascript">
		var config = {
			url: "<%= root_url %>",
			signed_in: <%= signed_in? ? true : false %>,
			authenticity_token: '<%= form_authenticity_token %>'
		}
	</script>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-22467886-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>

</head>
<body>
	<div id="page">
		<div id="header">
            <%= link_to "<span>Starcraft 2 Events</span>".html_safe, root_url, :id => 'logo' %>
			
			<%= form_tag "", :id => "timezone", :method => "get" do %>
				<label>Timezone:</label>
				<%= app_time_zone_select(:onchange => "this.form.submit(); return false;") %>
			<% end %>
			
			<ul class="menu">
				<% if signed_in? %>
					<li class="sign-out"><span class="username"><%= current_user.name %></span><%= link_to "Sign out", logout_path %></li>
				<% else %>
					<li><%= link_to "Sign in", login_path %></li>
				<% end %>
			</ul>
		</div>
	
		<div id="main" class="with-sidebar">
			<%= yield %>
		</div>
	</div>

	
	<script>
		Events.initialize({ url: "<%= events_path %>" });
	</script>
<script type="text/javascript">
reformal_wdg_domain    = "sc2events";
reformal_wdg_mode    = 0;
reformal_wdg_title   = "SC2 Events";
reformal_wdg_ltitle  = "";
reformal_wdg_lfont   = "";
reformal_wdg_lsize   = "";
reformal_wdg_color   = "#FBC900";
reformal_wdg_bcolor  = "#516683";
reformal_wdg_tcolor  = "#FFFFFF";
reformal_wdg_align   = "left";
reformal_wdg_waction = 0;
reformal_wdg_vcolor  = "#9FCE54";
reformal_wdg_cmline  = "#E0E0E0";
reformal_wdg_glcolor  = "#105895";
reformal_wdg_tbcolor  = "#FFFFFF";
 
reformal_wdg_bimage = "http://idea.informer.com/files/images/buttons/8489db229aa0a66ab6b80ebbe0bb26cd.png";
 
</script>

<script type="text/javascript" language="JavaScript" src="http://idea.informer.com/tab6.js?domain=sc2events"></script><noscript><a href="http://sc2events.idea.informer.com">SC2 Events feedback </a> <a href="http://idea.informer.com"><img src="http://widget.idea.informer.com/tmpl/images/widget_logo.jpg" /></a></noscript>
	
</body>
</html>
