<!DOCTYPE html>
<html>
<head>
	<title>StarCraft II Events</title>
	<%= stylesheet_link_tag 'screen' %>
	<%= javascript_include_tag 'jquery.js' %>
	<%= javascript_include_tag 'jquery_auth_token.js' %>
	<%= javascript_include_tag 'util.js' %>
	<%= javascript_include_tag 'events.js' %>
	<%= csrf_meta_tag %>
    <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
	<script type="text/javascript">
		var config = {
			url: "<%= root_url %>",
			signed_in: <%= signed_in? ? true : false %>,
			authenticity_token: '<%= form_authenticity_token %>'
		}
	</script>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-22467886-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</head>
<body>
	<div id="page">
		<div id="header">
            <%= link_to "<span>Starcraft 2 Events</span>".html_safe, root_url, :id => 'logo' %>
			
			<%= form_tag "", :id => "timezone", :method => "get" do %>
				<label>Timezone:</label>
				<%= app_time_zone_select(:onchange => "this.form.submit(); return false;") %>
			<% end %>
			
			<ul class="menu">
				<% if signed_in? %>
					<li class="sign-out"><span class="username"><%= current_user.name %></span><%= link_to "Sign out", logout_path %></li>
				<% else %>
					<li><%= link_to "Sign in", login_path %></li>
				<% end %>
			</ul>
		</div>
	
		<div id="main" class="with-sidebar">
			<%= yield %>
		</div>
	</div>

	
	<script>
		Events.initialize({ url: "<%= events_path %>" });
	</script>
	
</body>
</html>
