<!DOCTYPE html>
<html>
<head>
  <title>Sc2events</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>

<p>
<% if signed_in? %>
    <%= current_user.name %>
    <%= link_to "Log out", logout_path %>
<% else %>
    <%= link_to "Log in", login_path %>
<% end %>
</p>
<%= yield %>

</body>
</html>
